body {
  font-family: 'Roboto', 'Tahoma', 'Arial', sans-serif;
  font-size: 6pt;
  background-color: #FFF;
  }

table {
  font-size: 12pt;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  }

td {
  border: 1px solid #ccc;
  text-align: left;
  padding: 0 0 0 2px;
  }

/*table.lst tr:first-child td {font-weight: bold; background-color: #ddd; text-align: center; padding: 0;}*/
/*table.lst tr:nth-child(odd) {background-color: #eee;}*/


a {
  color:#006600;
  text-decoration:none;
  }

a:hover {text-decoration: none;}

a:focus {outline: none;}

a.k {color: #000;}

a.s {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 2px 0 0;
  vertical-align: bottom;
  cursor: pointer;
  }



/* modules_bar */

div.modules_bar {
  background-color: #bbf;
  padding: 2px 4px;
  line-height: 0;
  }

div.modules_bar >a {
  display: inline-block;
  border-radius: 6px;
  cursor: pointer;
  margin: 3px;
  padding: 2px 4px;
  background-image: linear-gradient(to bottom, #fff 0%, #dde 50%, #ccd 51%, #eef 100%);
  overflow: hidden;
  box-shadow: inset #fff 0 1px 2px -1px, inset #000 0 -1px 5px -2px, #000 0 0 4px -1px;
  color: #000;
  }

div.modules_bar >a >div:first-child {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  }

div.modules_bar >a >div:nth-child(2) {
  display: inline-block;
  margin: 0 2px 0 4px;
  vertical-align: middle;
  font-size: 12pt;
  white-space: nowrap;
  line-height: 100%;
  }



 /* icon */

hr {
  display: inline-block;
  vertical-align: -3px;  /* not sure */
  border: none;
  width: 16px;
  height: 16px;
  margin: 0 2px 0 0;
  /*margin: 0 1px;*/
  /*background-image: url(...);*/
  /*vertical-align: bottom;*/
  /*cursor: pointer;*/
  }






@media print {
div.menu {display: none;}
div.smenu {display: none;}
.noprint {display: none;}

a	{color:#000000;}
}

@media screen {
.noscreen {display: none;}
}
